/*Universal settings*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*Setting the background color of the entire page*/
body {
    background-color: #d9dcd6;
}

/*Setting the font, color, and background color of the header with some padding*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*font size and inline display for the header*/
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/*Makes the colors of the letters in the span a different color than the rest of the header*/
.header h1 .seo {
    color: #d9dcd6;
}

/*Poperties of the top three links*/
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/*No list marker is shown*/
.header nav ul {
    list-style-type: none;
}

/*Makes the links display inline so they go form left to right acorss the top*/
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/*Text color for the top right links*/
a {
    color: #ffffff;
    text-decoration: none;
}

/*Setting the size of all the paragraph text*/
p {
    font-size: 16px;
}

/*Properties of the top image*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*floats left vs right is aligning the content class div to the left of the screen and the beneifts class div to the right*/
.float-left {
    float: left;
    margin-right: 25px;
}

/*float left vs right is aligning the images of the content class section to the left or the right and letting the text wrap around it*/
.float-right {
    float: right;
    margin-left: 25px;
}

/*Middle section width to use 75% of the screen with a small margin from the left displayed inline-block*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*The aside section to use 20% of the screen, fonts family defined, padding, background color, floating right*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*Consolidated the paragraph text for the benefits into one class as the values were all the same*/
.benefit-side {
    margin-bottom: 32px;
    color: #ffffff;
}

/*Consoldated all the headers for the side benefit area as the values were the same*/
.benefit-side h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*Consolated the side benefit panel images classes into one class because all of the values were the same*/
.benefit-side img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*Consolidated the three middle content sections into one new class instead of having three classes that were given the same properties*/
.middle-content {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*Same consolidation applied to the middle sections images.*/
.middle-content img {
    max-height: 200px;
}

/*Consolidated the headers for the same section into one*/
.middle-content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*Setting alignment, fonts, and padding. Clear setting makes the footer move below the floating elements*/
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/*Font size for the footer*/
footer h2 {
    font-size: 20px;
}
